@{
    ViewData["Title"] = "Home Page";
}

<div class="overflow-hidden text-center bg-light row">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h1 class="display-6 fw-normal">Connect with Brian on LinkedIn</h1>
        <p class="lead fw-normal">If you are interested in Azure certifications, contact me to talk about some unique training that I offer to guide you to becoming an Azure expert.</p>
        <a target="_blank" class="btn btn-outline-secondary" href="https://www.linkedin.com/in/brianlgorman">Connect with Brian on LinkedIn</a>
        <p></p>
        <img src="https://s3.amazonaws.com/contents.newzenler.com/181/courses/41820/data/thumb/s-2.jpg" alt="azure certification path to devops and solutions architect expert via developer and admin exams" />
        <p></p>
        <p>
            <a href="https://training.majorguidancesolutions.com/courses/become-an-azure-administrator-developer-devops-and-architect-expert?preview=on" target="_blank" class="btn btn-info btn-lg">Learn more &raquo;</a>
        </p>
        <p>
            &#64;blgorman on twitter
        </p>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div><div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://s3.amazonaws.com/contents.newzenler.com/181/courses/65832/data/thumb/s-3.jpg" style="max-width:100%;"/>
            <div class="card-body">
                <h5 class="card-title">Create a well-architected public-facing website with ASP.Net MVC Core</h5>
                <p class="card-text">
                    Learn how to work with ASP.Net MVC Core to build and deploy a public-facing application that tracks the contacts for registered users. Through the process, you'll learn about building Models, Views, and Controllers with some tips and tricks for maximizing your success. You'll also learn about creating unit and integration tests. To complete the picture, you'll learn about how to use GitHub actions to deploy your application to Azure.
                </p>
                <a target="_blank" class="btn btn-secondary" href="https://training.majorguidancesolutions.com/courses/asp-net-mvc-quickstart">Learn more &raquo;</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://s3.amazonaws.com/contents.newzenler.com/181/courses/30082/data/thumb/s-7.jpg" style="max-width:100%;"/>
            <div class="card-body">
                <h5 class="card-title">GIT: From beginner to fearless</h5>
                <p class="card-text">Become a fearless GIT master, with no more fear of losing changes, working as a team, or reverting to previous code at all.</p>
                <a target="_blank" class="btn btn-secondary" href="https://training.majorguidancesolutions.com/courses/git-from-beginner-to-fearless">Learn more &raquo;</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://s3.amazonaws.com/contents.newzenler.com/181/courses/37193/data/thumb/s-9.jpg" style="max-width:100%;"/>
            <div class="card-body">
                <h5 class="card-title">Blog Posts and Talks</h5>
                <p class="card-text">Sign up for this free course to get access to my talks and blog posts in one centralized location</p>
                <a target="_blank" class="btn btn-secondary" href="https://training.majorguidancesolutions.com/courses/blog-posts-and-talks">Learn more &raquo;</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Support me by listening to my music:</h3>
        <p>
            <iframe src="https://open.spotify.com/embed/track/6mQJofAR6jLyjJ5UzeGXkc?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </p>
        <p>
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Y-hY3X1R0VU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card">
            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/41DWOyTsFGL._SX348_BO1,204,203,200_.jpg" style="max-width:100%;"/>
            <div class="card-body">
                <h5 class="card-title">Practical Entity Framework Core 6</h5>
                <p class="card-text">Practical Entity Framework Core 6 focuses on the code first approach to developing a database. Taking the code first approach allows the entire database to be built and maintained in code using EF Core 6 so there is never a situation in which you cannot restore the database schema. Additionally, the code first approach creates an entirely transparent record of changes to the database that is easily tracked in source control systems such as GitHub. Emphasis throughout the book is on leaving you well positioned to architect and lead data development efforts for your organization.</p>
                <a target="_blank" class="btn btn-secondary" href="https://www.amazon.com/Practical-Entity-Framework-Core-Applications/dp/1484273001/ref=asc_df_1484273001/?tag=hyprod-20&linkCode=df0&hvadid=532387267820&hvpos=&hvnetw=g&hvrand=9518909984168371130&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1015746&hvtargid=pla-1437185806311&psc=1">Learn more &raquo;</a>
            </div>
        </div>
        </div>
    </div>
</div>
