@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This website is created to be an example for training purposes.  Any information you give is given freely by you, of your own accord.</p>
<p>Use of this site may require cookies (by default).  No information is being purposefully collected, analyzed, or stored (unless you sign up with personal information and enter personal information). By using this site you expressly permit the use of cookies for typical actions like sessions.  If you do not wish to permit this, close the site now.</p>
<p>By using this site you inherently release the owners and creators of this site from any liability around your personal identity or information. If you do not agree to this policy, please close the browser now.</p>
